//============
// Colors
//============

$color--primary: #00142D;
$color--secondary: #0466C8;
$color--heading: #212121;
$color--text: #2C3E50;
$color--background: #FFFFFF;
$color--success: #00E676;
$color--warning: #FFEA00;
$color--danger: #FF3D00;
$color--info: #00B0FF;