//============
// Helper
//============

/* Add an element with the css class .responsive-helper
 * in your html document to have an indicator at the
 * bottom of your screen of witch breakpoint you are in.
*/

.debug {
    
    &:before {
      position: fixed;
      right: 0;
      bottom: 0;
      content: 'Small';
      font-family: sans-serif;
      letter-spacing: 0.05rem;
      color: #fff;
      font-weight: 700;
      background: #000;
      padding: 1rem 2rem;
    }
    
    @include breakpoint(medium) {
      &:before {
        content: 'medium';
      }
    }
  
    @include breakpoint(large) {
      &:before {
        content: 'large';
      }
    }
  
    @include breakpoint(xlarge) {
      &:before {
        content: 'xlarge';
      }
    }
  }
  