//============
// Mixins
//============

//Overlay
//Ex: @include overlay(#000000, 0.2)
@mixin overlay($color, $opacity) {
  &::before {
    content: "";
    position: absolute;
    display: inline-block;
    background: $color;
    opacity: $opacity;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
  }
}

//Square sized elements
//Ex: @include square(8rem)
@mixin square($size) {
  width: $size;
  height: $size;
}

//Pseudo default
//Ex: @include pseudo
@mixin pseudo {
  content: "";
  position: absolute;
  display: block;
}

//Truncate Text
//Ex: @inlcude truncate(480px)
@mixin truncate($max-width) {
  max-width: $max-width;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

//Breakpoints
//Ex: @include breakpoint(large) {... rules}
$small: 600px;
$medium: 1024px;
$large: 1440px;
$xlarge: 1920px;

@mixin breakpoint($breakpoint) {
  @if $breakpoint == small {
    @media (min-width: $small) {
      @content;
    }
  } @else if $breakpoint == medium {
    @media (min-width: $medium) {
      @content;
    }
  } @else if $breakpoint == large {
    @media (min-width: $large) {
      @content;
    }
  }
  @else if $breakpoint == xlarge {
    @media (min-width: $xlarge) {
      @content;
    }
  }
}

//Vendor prefix
//Ex: vendor {... rules}
@mixin vendor {
  &.placeholder { @content; }
  &:-moz-placeholder { @content; }
  &::-moz-placeholder { @content; }
  &:-ms-input-placeholder { @content; }
  &::-webkit-input-placeholder { @content; }
}

//Flexbox
//Ex: @include flex-center-column
@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin flex-center-x {
  display: flex;
  align-items: center;
}

@mixin flex-center-y {
  display: flex;
  justify-content: center;
}

@mixin flex-column {
  display: flex;
  flex-direction: column;
}
 
@mixin flex-center-column {
  @include flex-center;
  flex-direction: column;
}
 
//Z-index 
//Ex: @inlcude z-index(modal)
$modal: 100;
$toast: 90;
$drawer: 80;

@mixin z-index($z-index) {
  @if $z-index == modal {
    z-index: $modal
  } @else if $z-index == toast {
    z-index: $toast
  } @else if $z-index == drawer {
    z-index: $drawer
  }
}